div.form-header {
  position: relative;
  margin-bottom: 20px; }
  div.form-header a {
    display: block;
    position: absolute;
    top: 12px;
    left: 0px;
    color: gainsboro; }
    div.form-header a svg {
      height: 30px;
      width: 30px; }
    div.form-header a:hover {
      color: #9c9292; }
  div.form-header h3.legend {
    margin: 0px;
    text-align: right;
    font-size: 40px; }

form.user-form {
  width: 500px;
  margin: 100px auto 0px auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #dedede;
  padding: 25px; }
  form.user-form #container .input-container {
    margin: 10px;
    position: relative; }
    form.user-form #container .input-container svg {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 10px; }
    form.user-form #container .input-container input {
      height: 50px;
      padding-left: 25px;
      border-radius: 8px; }
  form.user-form #container .submit-input {
    width: 170px;
    font-size: 18px;
    border: none;
    border-radius: 8px; }
  form.user-form #container #connect-input {
    height: 48px;
    background-color: #28a745;
    color: #FFF;
    border-color: #28a745; }
  form.user-form #container #register-input {
    height: 50px;
    color: #28a745;
    background-color: #FFF; }
  form.user-form #container input#register-input:hover {
    color: #FFF;
    background-color: #28a745;
    transition: all 0.2s; }
  form.user-form #container div.bt-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    form.user-form #container div.bt-container button.bt-user-form:hover {
      color: #FFF;
      transition: all 0.2s; }

body {
  maring: 0px; }

.bg {
  margin: 0px; }

header {
  width: 100%;
  padding-top: 20px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  box-shadow: 0px 4px 15px #d8d4d4; }
  header #div-a #logo {
    margin-top: -9px;
    height: 50px; }
  header #div-a #div-categories {
    margin-top: 5px; }
    header #div-a #div-categories svg {
      height: 20px;
      width: 20px; }
  header #div-c #connexion_lien, header #div-c #panier_lien {
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    padding: 6px 0px;
    text-decoration: none;
    color: white; }
    header #div-c #connexion_lien svg, header #div-c #panier_lien svg {
      height: 20px;
      width: 20px; }
  header #div-c #connexion_lien {
    margin-right: 5px;
    background-color: #337ab7; }
